/*
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.devices {
  width: 100%;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.devices table {
  width: 100%;
  border-collapse: collapse;
}

.devices th,
.devices td {
  padding: 10px;
  text-align: left;
}

.devices th {
  background-color: #323131;
}

.devices tr:nth-child(even) {
  background-color: #323131;
}

.devices button {
  background-color: #e53935;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

#edit-button {  
  background-color: #1f8abc;
  color: white;
  margin-left: 20px;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.App form {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

*/
#root {
  /*max-width: 1280px;*/
  width: 100vw;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #3B0FBA;
  color: #ffffff;
  border-radius: 10px;
  /*font-family: 'Bebas Neue', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; !* Modern sans-serif font *!*/
}

.devices {
  width: 100%;
  margin: 0 auto;
  /*border: 1px solid #444;*/
  border-radius: 5px;
  overflow: hidden;
  border-spacing: 0 1em;
}

.devices table {
  width: 100%;
  /*border-collapse: collapse;*/
  font-family: 'Bebas Neue', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Modern sans-serif font */
  border-collapse: separate;
}

.devices th,
.devices td {
  padding: 3px 12px 3px 34px;
  text-align: left;
  /*font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; !* Modern sans-serif font *!*/
  font-size: 1.2rem;
}

.devices td:first-child,
.devices th:first-child {
  border-radius: 13px 0 0 13px;
 }

.devices td:last-child,
.devices th:last-child {
  border-radius: 0 13px 13px 0;
 }

.devices th {
  background-color: #3B0FBA;
  color: white;
}

.devices tr:nth-child(even) {
  /*background-color: #1a1a1a;*/
}

.devices tr {
  background-color: white;
  color: #1f1f1f;
}

.devices button {
  background-color: #e53935;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 0.3s ease;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Modern sans-serif font */
  font-size: 1rem;
  aspect-ratio: 1;
}

.devices button:hover {
  background-color: #c62828;
}

#edit-button {  
  background-color: #787890;
  color: white;
  margin-left: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Modern sans-serif font */
  font-size: 1rem;
}

#edit-button:hover {
  background-color: #44445d;
}

.actions {
  text-align: right !important;
}

.App {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: 20px;
  /*max-width: 1280px;*/
  place-items: center;
  max-width: 1280px;
  padding: 0 120px 0 120px;
}

.App-container {
  display: flex;
  /*flex-direction: column;*/
  place-content: center;
}

.App form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.App input {
  background-color: #220C5F;
  border: 1px solid #13003d;
  color: #fff;
  padding: 10px;
  border-radius: 4px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Modern sans-serif font */
  font-size: 1rem;
}

.App label {
  color: #ccc;
  /*font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; !* Modern sans-serif font *!*/
  font-size: 1.2rem;
}
