.navbar {
    /*width: 100vw;*/
    padding-bottom: 30px;
    font-family: "Fira Sans", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 300;
    color: white !important;
    position: absolute;
    width: 100%;
}

.logo {
    /*padding: 5px;*/
    font-size: 38px;
    font-weight: 800;
    font-family: "Caveat", ui-sans-serif;
    margin: 2rem 3rem;
}

.menu {
    /*margin: 0;*/
    padding: 0;
    list-style-type: none;
    font-size: 18px;
    margin: 2rem 3rem;
}

.menu li {
    /*collapse: true;*/
    padding-left: 18px;
}

.active {
    font-weight: 700;
}

.flex1 {
    display: flex;
    flex-grow: 1;
}

.flex_col {
    display: flex;
    flex-direction: column;
}

.flex_row {
    display: flex;
    flex-direction: row;
}

.dropdown-menu[data-bs-popper] {
    left: initial;
    right: 0;
}
